{% extends "base.html" %}
{% block title %}Login - worNDly{% endblock %}
{% block content %}

<!-- Login form -->
<div class="container">
    <div class="d-flex justify-content-center vh-100 pt-5">
        <div class="col-md-5">

            {% if form.errors %}
                <p class="text-danger text-center">Your username or password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                <p class="text-center">Please login to see this page.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-info text-white text-uppercase">Log In</button>
                    <a href="{% url 'signup' %}" class="btn btn-dark text-white text-uppercase text-decoration-none w-100">Create Account</a>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
