{% extends "base.html" %}
{% block title %}Register - worNDly{% endblock %}
{% block content %}

<div class="container">
  <div class="d-flex justify-content-center pt-5 vh-100">
    <div class="col-md-5">

      {% if user.is_authenticated %}
        <p class="text-center">Your account doesn't have access to this page.</p>
        <div class="d-grid gap-2">
        <span class="btn" style="background-color: #585858; color: white;">Return</span>
      </div>
      {% else %}
        {% if error %}
          <p class="text-danger">{{ error }}</p>
        {% endif %}

        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Name (optional)</label>
            <input type="text" class="form-control" id="name" name="name">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <!-- <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
          </div> -->

          <!-- confirm password -->
           <!-- {% if password != confirm_password %}
            <div class="alert alert-danger" role="alert">
              Passwords do not match.
            </div>
          {% endif %} -->

          <!-- maybe in the future -->

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-info text-white fw-bold text-uppercase">Create Account</button>
            <a href="/login/" class="btn btn-secondary text-white fw-bold text-uppercase text-decoration-none w-100">Already have an account? Log In</a>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}